body {
    background: #008081;
}

img {
    position: absolute;
    pointer-events: none;
    top: 220.8px;
    left: 258.2px;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {

    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    grid-auto-columns: initial;
    grid-auto-rows: initial;
    grid-auto-flow: initial;
    width: 520px;
    height: 400px;
}

.pixel {
    background: white;
    width: auto;
}

.painted {
    background: black;
    width: auto;
}

.pixel:hover {
    background: black;
}