@font-face {
    font-family: 'pix M 8pt';
    src: url('./fonts/mpt8.woff2') format('woff2'),
        url('./fonts/mpt8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    max-width: 100%;
    height: 28px;
    background-color: #008081;
    background-image: url('./images/taskbar.png');
    background-position-y: 615.5px;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1366px){
    html {
    background-image: url('./images/taskbar_1366.png');
    }
}

@media screen and (min-width: 1920px){
    html {
    background-image: url('./images/taskbar_1920.png');
    }
}

body{
    margin: 0;
    width: 600px;
    max-height: 644px;
}

#paintwindow {
    background-image: url('./images/paint_window.png');
    position: absolute;
    width: 650px;
    height: 534px;
    top: 302.5px;
    left: 683.4px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    pointer-events: none;
}

#canvascontainer {
    position: absolute;
    top: 283px;
    left: 683.4px;
    transform: translate(-50%, -50%);
}


#canvas {
    display: grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    grid-auto-columns: initial;
    grid-auto-rows: initial;
    grid-auto-flow: initial;
    grid-gap: 0 0;
    width: 520px;
    height: 400px;
}

.redColor{
    background: #ff0000;
    cursor: url('./images/pen_cursor.png') 0 17, auto;
}

.redColor:hover{
    background: #ff0000;
    cursor: url('./images/pen_cursor.png') 0 17, auto;
}

#redcolorpick{
    position: absolute;
    top: 517px;
    left: 425px;
    background-color: #ff0000;
    width: 13.05px;
    height: 13.05px;
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
    outline: none;
}

#blackcolorpick{
    position: absolute;
    top: 502px;
    left: 393.2px;
    background-color: #000;
    width: 13.05px;
    height: 12.9px;
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
    outline: none;
}


#clear {
    position: absolute;
    background-color: #c0c7c8;
    font-family: 'pix M 8pt';
    font-size: 8px;
    outline: none;
    border-color: #434447;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-right-width: 1.4px;
    border-top-width: 1.4px;
    border-bottom-width: 1.4px;
    border-left-width: 1.4px;
    user-select: none;
    width: 93px; 
    height: 25px;
    top: 505px;
    left: 775px;
}

#clear:active {
    background-color: #dfe3e3;
    border-color: #ffffff;
    border-left-color: #000000;
    border-top-color: #000000;
}

#windowsstart {
    background-image: url('./images/start.png');
    background-position: center;
    background-size: 53px;
    padding: 0;
    position: absolute;
    top: 605.5px;
    left: 2px;
    width: 54px;
    height: 22px;
    outline: none;
    border-color: #434447;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-right-width: 1.4px;
    border-top-width: 1.4px;
    border-bottom-width: 1.4px;
    border-left-width: 1.4px;
    user-select: none;
}

#windowsstart:active{
    border-color: #ffffff;
    border-left-color: #000000;
    border-top-color: #000000;
}

.active{
    border-bottom-color: #ffffff !important;
    border-right-color: #ffffff !important;
    border-left-color: #000000 !important;
    border-top-color: #000000 !important;
}


#start{
    position: relative;
    display: inline-block;
}

.startdropcontent {
    width: 210px;
    display: none;
    position: absolute;
    top: 170px;
    left: 2px;
    font-family: 'pix M 8pt';
    font-size: 8px;
    border: 0 solid #000;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 2px;
    border-top-color: #fff;
    background-color: #c0c7c8;
    min-width: 160px;
    z-index: 1;
    pointer-events: auto;
    user-select: none;
}

.startdropcontent a {
    color: black;
    padding: 13px 16px;
    padding-left: 65px;
    text-decoration: none;
    display: block;
    user-select: none;
}

.startdropcontent a:hover {
    background-color: #000080;
    color: #ffffff;
}

.showstartcontent{display:block;}

#separator{
    margin: 0px;
    width: 100px;
    padding-left: 80px;
    background: #87888f;
    height: 1px;
    border: 0 solid #fff;
    border-bottom-width: 1px;
    left: 27px;
    position: relative;
}

#w98bar{
    position: absolute;
    top: 0px;
    width: 24px;
    height: 433px;
    background-image: url(./images/w98bar.png);
}

#programs, #favorites, #documents,
#settings, #find, #help, #run, #logoff, #shutdown {
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 30px;
}

#github, #wupdate {
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 27px;
}

#github{background-image: url(./images/github.png)}
#wupdate{background-image: url(./images/wupdate.png)}
#programs{background-image: url(./images/programs.png)}
#favorites{background-image: url(./images/favorites.png)}
#documents{background-image: url(./images/documents.png)}
#settings{background-image: url(./images/settings.png)}
#find{background-image: url(./images/find.png)}
#help{background-image: url(./images/help.png)}
#run{background-image: url(./images/run.png)}
#logoff{background-image: url(./images/logoff.png)}
#shutdown {background-image: url(./images/shut.png)}

.pixel {
    background: white;
    width: auto;
    cursor: url('./images/pen_cursor.png') 0 17, auto;
}

.pixel:hover {background: #000}

.painted {
    background: #000;
    width: auto;
    cursor: url('./images/pen_cursor.png') 0 17, auto;
}



